@font-face {
	font-family: "Cascadia Code Italic";
	src: url("CascadiaCode-2407.24/ttf/CascadiaCodeItalic.ttf") format("truetype");
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Cascadia Code Italic", monospace;
}

span.english {
	color: #808080;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensures the container takes up full width */
}

span.align-right {
    text-align: right;
}


a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img.photo {
	height: 100px;
	border-radius: 10px;
}

h2 {
	text-align: center;
}

div.photos {
	text-align: justify;
}

.centered-list {
    display: flex;
    justify-content: center; /* Centers the div horizontally */
    width: 100%; /* Ensures the div takes up full width */
}

ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: left; /* Aligns the text of list items to the left */
}

::-webkit-scrollbar {
	width: auto;
}

::-webkit-scrollbar-track {
	background-color: #000000;
	
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff;
  }